  <tr>
    <th><%= link_to question.body, question_path(question.id) %></th>
    <td><%= link_to "Edit", edit_question_path(question.id) %></td>
    <td>
      <%= link_to "Del",
                  question,
                  method: :delete,
                  data: { confirm: "You sure?" } %>
    </td>
  </tr>
