<p><%= link_to 'Study project in the online school Thinknetica' , 'http://thinknetica.com/', target: '_blank', rel: 'nofollow noopener' %></p>
<p>Project's purpose is to create, edit and take tests</p>

<table>
  <tr>
    <td>GeorgeTim1998</td>
    <td><%= github_url('GeorgeTim1998', 'test-guru') %></td>
  </tr>
  <tr>
    <td align='center'><%= current_year %></td>
  </tr>
</table>
