<li>
  <%= link_to answer.body, admin_answer_path(answer) %>
  <%= link_to "Edit", edit_admin_answer(answer) %>
  <%= link_to "Del",
              admin_answer_path(answer),
              method: :delete,
              data: { confirm: "You sure?" } %>
</li>
