<h1><%= @test.title %></h1>

<table>
    <%= render @test.questions %>

    <tr>
      <td colspan = '3'><%= link_to "Create new question", new_admin_test_question_path(params[:id]) %></td>
    </tr>
</table>

<p><%= link_to "Back", admin_test_path %></p>
